.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.inputlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.buttonWrapper {
  margin: 20px;
}
