@use "joseph-sass/type";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.subContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.userImageWrapper {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  border-radius: 50%;
  cursor: pointer;
  @media screen and (max-width: 900px) {
    width: 100px;
    height: 100px;
  }
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttonContainer {
  @include type.UtilityStyles(helperText02);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  color: gray;
}
