@use "joseph-sass/type";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.header {
  width: 100%;
  height: 150px;
  padding: 20px;
  border: 1px solid rgb(238, 238, 238);
  box-sizing: border-box;
}

.title {
  @include type.FixedHeadingStyles(heading03);
  @media screen and (max-width: 900px) {
    @include type.FixedHeadingStyles(heading01);
  }
}

.userInfo {
  display: flex;
  margin-top: 10px;
}

.userImageWrapper {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  @media screen and (max-width: 900px) {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
}
.nicknameAndTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userNickname {
  @include type.FixedHeadingStyles(heading02);
  @media screen and (max-width: 900px) {
    @include type.FixedHeadingStyles(heading01);
  }
}

.createdTime {
  @include type.UtilityStyles(code02);
  @media screen and (max-width: 900px) {
    @include type.UtilityStyles(code01);
  }
}

.footer {
  @include type.BodyStyles(body02);
  width: 100%;
  padding: 20px;
  border: 1px solid rgb(238, 238, 238);
  border-top: none;
  box-sizing: border-box;
  @media screen and (max-width: 900px) {
    @include type.BodyStyles(body01);
  }
}

.contentImageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.contentImage {
  width: 100%;
  max-width: 640px;
  max-height: 400px;
  object-fit: cover;
}
