@use "joseph-sass/type";

.container {
  @include type.FixedHeadingStyles(heading04);
  display: grid;
  row-gap: 20px;
  margin-top: 30px;
}

.loadingContainer {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
